body {
	font-family: "Poppins", sans-serif;
	color: #22343d;
	background-color: #fff;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
	margin: 0;
}

ul {
	list-style: none;
	margin: 0;
	padding: 0;
}

a {
	text-decoration: none;
}

img {
	display: block;
}

button {
	cursor: pointer;
}

.container {
	margin: 0 auto;
	padding: 0 20px;
	max-width: 1150px;
}

/* header */
.header {}

.logo {
	font-weight: 700;
	font-size: 30px;
	line-height: 0.93;
	color: #173a56;
	display: flex;
	align-items: center;
	gap: 16px;
	margin-right: 237px;
}

.header-nav {
	margin-right: auto;
}

.header-nav-list {
	display: flex;
	align-items: center;
	gap: 30px;
}

.header-nav-item {}

.header-nav-link {
	/*font-weight: 400;
	font-size: 16px;*/
	line-height: 1.75;
	color: #22343d;
	display: block;
	padding: 26px 5px;
}

.current {
	font-weight: 600;
}

.header .container {
	display: flex;
	align-items: center;
}

.header-btn-list {
	display: flex;
	align-items: center;
	gap: 20px;
}

.header-btn {
	min-width: 105px;
	height: 42px;
	border: 1px solid #bcd0e5;
	border-radius: 4px;
	font-family: inherit;
	font-weight: 600;
	text-align: center;
	color: #173a56;
	background-color: transparent;
}

.header-btn:hover,
.header-btn:focus {
	background-color: #02897a;
	color: #fff;
	border: none;
}

/* s1 */

.hero {
	padding-top: 26px;
	padding-bottom: 100px;
}

.hero .container {
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.hero-title {
	font-weight: 700;
	font-size: 40px;
	line-height: 1.5;
	max-width: 372px;
	margin-bottom: 18px;
}

.hero-text {
	font-size: 18px;
	line-height: 1.55;
	color: #22343d;
	max-width: 432px;
	margin-bottom: 45px;
}

.hero-list {
	display: flex;
	align-items: center;
	gap: 30px;
}

.hero-btn-start {
	border-radius: 4px;
	min-width: 178px;
	height: 53px;
	font-family: inherit;
	background-color: #02897a;
	border: none;
	font-weight: 700;
	font-size: 16px;
	color: #fff;
}

.hero-btn-video {
	border-radius: 4px;
	min-width: 178px;
	height: 53px;
	font-family: inherit;
	border: none;
	background-color: transparent;
	font-weight: 600;
	font-size: 16px;
	text-decoration: underline;
	text-decoration-skip-ink: none;
	color: #02897a;
}

.hero-img {}

/* 2 */

.product {
	padding-bottom: 50px;

}

.product .container {
	/*display: flex;
	flex-direction: column;
	align-items: center;*/
}

.product-title {
	font-weight: 700;
	font-size: 32px;
	text-align: center;
	color: #22343d;
	max-width: 490px;
	margin: 0 auto;
	margin-bottom: 50px;
}

.product-img-wrapper {
	display: flex;
	justify-content: center;
	align-items: center;
	border-radius: 19px;
	width: 54px;
	height: 54px;
	margin-bottom: 30px;

}

.product-list-item:nth-child(1) .product-img-wrapper {
	background-color: #02897a;
}

.product-list-item-title-snd::before {
	content: '';
	display: block;
	/*background-color: #02897a;*/
	border-radius: 19px;
	width: 54px;
	height: 54px;
	background-repeat: no-repeat;
	background-position: center;
	background-color: #02897a;
	background-image: url(../images/user.svg);
}

/*.product-list-item:nth-child(2) .product-list-item-title-snd::before {
	background-color: #02897a;
	background-image: url(./images/user.svg);
}*/

.prodict-img-svg {
	fill: #fff;
}

.product-list {
	display: flex;
	margin-bottom: 50px;
	gap: 30px;
}

.product-list-item {
	width: calc((100% - 90px) / 4);
}

.product-list-item-img {
	margin-bottom: 26px;
}

.product-list-item-title {
	font-weight: 600;
	font-size: 22px;
	color: #22343d;
	margin-bottom: 12px;
}

.product-list-item-text {
	line-height: 1.62;
	color: #22343d;
}

.product-btn {
	border-radius: 4px;
	min-width: 175px;
	height: 53px;
	font-family: inherit;
	background-color: #02897a;
	border: none;
	font-weight: 700;
	font-size: 16px;
	color: #fff;
	text-transform: uppercase;
	display: block;
	margin: 0 auto;
}

/* 3 */

.management {
	padding-top: 50px;
	padding-bottom: 100px;
}

.management .container {
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.management-left {
	/*margin: 40px auto;*/
}

.management-text-bold {
	font-weight: 600;
	font-size: 16px;
	color: #22343d;
	margin-bottom: 8px;
}

.management-title {
	font-weight: 700;
	font-size: 32px;
	color: #22343d;
	margin-bottom: 25px;
}

.management-text {
	line-height: 1.62;
	color: #22343d;
	margin-bottom: 25px;
	max-width: 445px;
}

.management-list {}

.management-list-itm:not(:last-child) {
	margin-bottom: 25px;
}

.management-list-title {
	font-weight: 600;
	font-size: 16px;
	line-height: 1.62;
	color: #22343d;
	margin-bottom: 12px;
}

.management-list-text {
	line-height: 1.62;
	color: #22343d;
	max-width: 435px;
}

.management-img {
	/*display: block;*/
}

/* 4 */

.customer-support {
	padding-top: 50px;
	padding-bottom: 100px;
}

.customer-support .container {
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.customer-support-img {}

.customer-support-block {
	padding-bottom: 40px;
	padding-left: 84px;
}

.customer-support-list {}

.customer-support-list-itm:not(:last-child) {
	margin-bottom: 25px;
}

.cs-list-itm-text {
	display: flex;
	align-items: center;
	gap: 30px;
	font-weight: 400;
	font-size: 16px;
	line-height: 162%;
	color: #22343d;
}

.cs-list-itm-text::before {
	flex-shrink: 0;
	content: '';
	display: inline-block;
	border: 2.92px solid #fff;
	border-radius: 14px;
	width: 35px;
	height: 35px;
	background-repeat: no-repeat;
	background-position: center;
	background-image: url(../images/tick.svg);
}

.customer-support-list-itm:nth-child(1) .cs-list-itm-text::before {
	background-color: #f90;
}

.customer-support-list-itm:nth-child(2) .cs-list-itm-text::before {
	background-color: #f03e3d;
}

.customer-support-list-itm:nth-child(3) .cs-list-itm-text::before {
	background-color: #4d8dff;
}

/* 5 */
.quick {}

.quick .container {
	max-width: 956px;
}

.quick-title {
	font-weight: 700;
	font-size: 32px;
	text-align: center;
	color: #22343d;
	margin: 0 auto 25px auto;
	/*margin-bottom: 25px;*/
}

.quick-text {
	max-width: 540px;
	font-weight: 500;
	font-size: 16px;
	line-height: 1.62;
	text-align: center;
	color: #22343d;
	margin: 0 auto 40px auto;
	/*margin-bottom: 40px;*/
}

.quick-list {
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	justify-content: center;
	margin-bottom: 50px;
	row-gap: 31px;
	column-gap: 100px;
}

.quick-list-itm {
	display: flex;
	align-items: center;
	gap: 20px;
}

.quick-list-itm-text {
	font-weight: 500;
	text-align: center;
	color: #2f281e;
	border: 1px solid #bcd0e567;
	border-radius: 30px;
	padding: 14px 20 px;
	cursor: pointer;
	background-color: #fff;
	box-shadow: 2px 2px 10px 0 rgba(23, 58, 86, 0.15);
	min-width: 281px;
}

.quick-list-itm-img {}

.quick-btn {
	border-radius: 4px;
	min-width: 216px;
	height: 53px;
	font-family: inherit;
	background-color: #02897a;
	border: none;
	font-weight: 700;
	font-size: 16px;
	color: #fff;
	display: block;
	margin: 0 auto;
}

/* footer */

.footer {}

.footer-container {
	display: flex;
	justify-content: space-between;
	align-items: start;
	gap: 50px;
	margin-bottom: 8px;
}

.footer .logo {
	margin-right: 0;
}

.footer-social-list {
	display: flex;
	margin-top: 18px;
	align-items: center;
	gap: 16px;
}

.footer-social-itm {
	width: 40px;
	height: 40px;
}

.footer-social-link {
	width: 100%;
	height: 100%;
	border-radius: 50%;
	background-color: #edfffc;
	display: flex;
	justify-content: center;
	align-items: center;
	transition: fill 300ms ease-in, background-color 500ms ease-in;
}

.footer-img-svg {
	fill: #02897a;
}

.footer-social-link:hover,
.footer-social-link:focus {
	background-color: #00201d77;
}

.footer-social-link:hover .footer-img-svg,
.footer-social-link:focus .footer-img-svg {
	fill: #004942;
}

.footer-div {}

.footer-div-text {
	font-weight: 500;
	font-size: 20px;
	line-height: 150%;
	color: #22343d;
	margin-bottom: 8px;
}

.footer-div-list {}

.footer-div-list-itm {
	line-height: 219%;
	color: #22343d;
}

.footer-div-list-itm-link {
	line-height: 219%;
	color: #22343d;
}

.footer-div-list-itm-link:hover,
.footer-div-list-itm-link:focus {
	font-weight: 700;
}


.footer-label {
	position: relative;
	display: block;
	margin-bottom: 25px;
}

.footer-input {
	border: 1px solid #bcd0e5;
	border-radius: 4px;
	width: 325px;
	height: 48px;
	padding-left: 42px;
	background-color: transparent;
	transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-input::placeholder,
.footer-input {
	font-weight: 400;
	font-size: 16px;
	line-height: 175%;
	color: #02897a;
}

.footer-form-icon {
	position: absolute;
	top: 50%;
	left: 12px;
	transform: translateY(-50%);
	transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
	fill: #02897a;
}

.footer-form-btn {
	font-weight: 700;
	font-size: 16px;
	text-align: center;
	color: #fff;
	border-radius: 4px;
	min-width: 131px;
	height: 39px;
	background-color: #02897a;
	border: none;
	transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-input:hover,
.footer-input:focus {
	border: 1px solid #035b81;
}

.footer-input:hover+.footer-form-icon,
.footer-input:focus+.footer-form-icon {
	fill: #035b81;
}

.footer-form-btn:hover,
.footer-form-btn:focus {
	background-color: #035b81;
}

.footer-form-wrapper {
	max-width: 325px;
}

.footer-text {
	font-weight: 500;
	font-size: 20px;
	line-height: 150%;
	color: #22343d;
	margin-bottom: 30px;
	max-width: 260px;
}

.footer-cr {
	text-align: center;
	line-height: 187%;
	color: #22343d;
	margin-bottom: 40px;
}